body {
  width: 100%;
  background-color: #000;
  background-image: radial-gradient(circle at top right, rgba(121, 68, 154, 0.13), transparent), radial-gradient(circle at 20% 80%, rgba(41, 196, 255, 0.13), transparent);
}

canvas {
  position: fixed;
  width: 100%;
  height: 100%;
}

a {
  position: relative;
  bottom: 2vmin;
  right: 2vmin;
  color: rgba(255, 255, 255, 0.4); 
  text-decoration: none;
}


.amir {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.social-media {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.social-media a {
  margin: 0 20px;
  color: #FFF;
  font-size: 70px;
  padding: 10px;
  text-decoration: none;
  transition: all 0.4s ease;
}

.social-media a:hover {
  color: #3b5998;
}

.space {
  margin-top: 300px;
}



.social-media-item {
  display: block;
  width: 50px;
  height: 50px;
  line-height: 100px;
  text-align: center;
  border-radius: 50%;
  padding: 20x;
  background-color: #333;
  color: #fff;
  margin: 30px;
  font-size: 24px;
  transition: all 0.2s ease-in-out;
}

@media (max-width: 767px) {
  .social-media {
    display: block;
    text-align: center;
    padding: 0 5px;
  }

  .social-media-item {
    width: 30px;
    height: 30px;
    line-height: 50px;
    font-size: 20px;
    margin: 6px;
  }

  .social-media a {
    margin: 0 10px;
    color: #FFF;
    font-size: 70px;
    text-decoration: none;
    transition: all 0.4s ease;
  }

  .space {
    margin-top: 150px;
  }
}